body {
	--background-primary:#000;
	--background-secondary:#000;
	--background-secondary-alt:#000;
	--background-tertiary:#000;
	--background-accent:#4f545c;
	--background-floating:#000;
	--background-mentioned:#000;
	--background-mentioned-hover:#000;
	--background-message-hover:#000;
	--elevation-stroke:0 0 0 1px rgba(4,4,5,0.15);
	--elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--elevation-medium:0 4px 4px rgba(0,0,0,0.16);
	--elevation-high:0 8px 16px rgba(0,0,0,0.24);
	--logo-primary:#fff;
	--focus-primary:#00b0f4;
	--guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4);
	--channeltextarea-background:#000;
	--activity-card-background:#000;
	--textbox-markdown-syntax:#8e9297;
	--deprecated-card-bg:#000;
	--deprecated-card-editable-bg:rgba(32,34,37,0.3);
	--deprecated-store-bg:#36393f;
	--deprecated-quickswitcher-input-background:#000;
	--deprecated-quickswitcher-input-placeholder:hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg:#000;
	--deprecated-text-input-border:#000;
	--deprecated-text-input-border-hover:#000;
	--deprecated-text-input-border-disabled:#000;
	--deprecated-text-input-prefix:#dcddde
}