.membersWrap-2h-GB4 {
	position: absolute;
	top: 0;
	right: 0px;
	height: 100%;
	width: 240px;
	min-width: unset;
	transition: width 0.3s;
}
@media (max-width: 1200px) {
    .nowPlayingColumn-2sl4cE {
        display: block;
    }
}
.nowPlayingColumn-2sl4cE {
    z-index:  500;
    position:  absolute;
    top:  0;
    height:  100%;
    right:  0;
    width: 250px;
    min-width: unset;
    max-width: unset;
    transition: width 0.3s;
}